/*Google Fonts Import*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Lora:ital@0;1&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/*Wildcard selector*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General styles*/
body {
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    /*Generic property styles*/
    color:#ffffff;
    font-family: 'Lora', sans-serif;
}

/* Header */
header  {
    background-color: gold;
    padding: 0 1rem;
    position: absolute;
    z-index: 99;
    width: 100%;
    box-shadow: 0 50px 50px white;
}

h1 {
    text-transform: uppercase;
    letter-spacing: auto;
    color: black;
}

#menu {
    font-size: 110%;
    letter-spacing: 0px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 0.5em;
}

.active {
    border-bottom: 1px outset black;
    border-left: 1px outset black;
}

/* Main */
main {
    background-color: lightblue;
    /*Make main element take up any surplus space to push further down*/
    flex: 1 0 auto;
}

/*Footer*/
footer {
    background-color: darkblue;
}