/*Wildcard selector*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header */
header  {
    background-color: darkblue;
}

/* Main */
main {
    background-color: bluemarine;
}

/*Footer*/
footer {
    background-color: darkblue;
}